@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

header{
    background-color: rgb(47, 147, 180);
    padding: 10px;
    transition: background-color 0.3s;

}

body{
    background: rgb(47, 147, 180);
    height: 100%;
    position: relative;
}

main{
    display: flex;
    height: 10vh;
    min-height: 10px;
    bottom: 70%;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1; 
}

a{
    text-decoration: none;
    color: #333;
}

.nav{
    margin-top: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 55px;
    font-size: 30px;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-grow: 1; 
}

#menu-itens1{
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(121, 190, 212);
    font-size: 25px;
    padding: 10px;
    z-index: 2; 
}

.rodape {
    background-color: rgb(47, 147, 180); 
    padding: 50px; 
    height: 150px;
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap; 
    margin-top: 50px;
    position:bottom;
}
.conteudo{
    display: flex;
    align-items: center;
    height: 400px;
    padding: 50px;
    border-radius: 30px;
    background-color: rgba(173, 216, 230, 0.5); 
    transition: transform 0.2s ease-in-out;
    backdrop-filter: blur(2px);
    border: 1px solid lightblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.menu-subitens-hidden{
    display: none;
} 

.menu-subitem a:hover{
    color: rgb(0, 92, 122);
}

.menu-item-label{
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.login{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px; 
    font-size: 14px; 
    display: inline-block;
    height: 40px; 
    line-height: 20px; 
    border: 2px solid #fff; 
    border-radius: 5px; 
    transition: background-color 0.3s;
    justify-content: space-around;
    margin-left: 20px; 

}
.login:hover{
    background-color: #34ca57;
    text-decoration: none; 
    cursor:pointer;
}

.botoes{
    margin-top: 7px;
}

.botoes button{
    border-radius: 100000px;
    border: 1px solid black ;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}

.botao1{
    background-color: rgba(98, 191, 223, 0.5);
    margin-left: 40px;
    transition: transform 0.2s ease-in-out;
}
.botao2{
    background-color:  rgb(104, 214, 163);
    transition: transform 0.2s ease-in-out;
}
.botao3{
    background-color: rgb(217, 219, 88);
    transition: transform 0.2s ease-in-out;
}
.botao1:hover{
    background-color: rgba(55, 186, 230, 0.5);
    transform: translateY(-2px);
}
.botao2:hover{
    background-color: rgb(42, 235, 145);
    transform: translateY(-2px);
}
.botao3:hover{
    background-color: rgb(233, 236, 38);
    transform: translateY(-2px);
}

.botoes button:active{
    box-shadow: inset -2px 2px 0 #222;
}

.menu-subitem.menu-subitem a{
    transition: color 0.3s;
}

.menu-subitem a:hover{
    color: white; 
}

.conteudo img{
    margin-right: 10px;
    border-radius: 4px;
}

.conteudo h1 {
    color: rgb(4, 208, 235);
    position: absolute;
    display: inline-block;
    margin-bottom: 150px;
    margin-left: 260px;
}

.conteudo p{
    font-size: 22px;
}

.conteudo:hover{
    transform: translateY(-5px);
    
}