* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pag {
    background: rgba(173, 216, 230, 0.5);
    animation: color 12s ease-in-out infinite;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


header {
    background-color: rgb(47, 147, 180);
    padding: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
}

.nav {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 55px;
    font-size: 30px;
}

#menu-itens1 {
    position: absolute;
    top: 100%; 
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(121, 190, 212);
    font-size: 25px;
    padding: 10px;
}

.link-nav {
    font-size: 30px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}


.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.navegacao {
    display: flex;
    gap: 50px;
    margin-right: 150px;
}

.quiz-container {
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(100, 100, 100, 0.5);
    width: 600px;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background: rgb(47, 147, 180);
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1.1rem;
    transition: background-color 0.3s;
}

.menu-subitens-hidden {
    display: none;
}

.menu-subitem a:hover {
    color: rgb(0, 92, 122);
}

.menu-item-label {
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.menu-subitem.menu-subitem a{
    transition: color 0.3s;
}

.menu-subitem a:hover{
    color: #25fa56;
}

a{
    text-decoration: none;
    color: #333;
}

button:hover{
    background: #34ca57;
}